Using MySQL Connector and Python to implement a database on MySQL Server, and to create, read  data etc. in that database.

In [3]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

Connect to server and Create Database

define a function in python which connects to MySQL Server.To do this we use the mysql.connector.connect() method.

In [7]:
def create_server_connection(name_host, name_user, password_user):
    Make_connection = None
    try:
        Make_connection = mysql.connector.connect(
            host=name_host,
            user=name_user,
            passwd=password_user
        )
        print("MySQL Database connection is successful")
    except Error as err:
        print(f"Error: '{err}'")

    return Make_connection

pw = "*********" #  MySQL Terminal password .
db = "covid_19_Health_connect" # This is the name of the database.

Make_connection = create_server_connection("localhost", "root", pw)

MySQL Database connection is successful

Create a new database

Now, define a function to create a new database on server. Here we are using cursor.execute() to execute a CREATE DATABASE SQL command.

In [8]:
def create_database(Make_connection, query):
    cursor = Make_connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as err:
        print(f"Error: '{err}'")

create_database_query = "CREATE DATABASE covid_19_Health_connect"
create_database(Make_connection, create_database_query)

Database created successfully

Modify server connection function, create database connection function

After creating DB, modify our create_server_connection function to create a new function for connecting directly to that DB. This will prove more useful than just connecting to our server.

In [9]:
def create_db_connection(name_host, name_user, password_user, db_name):
    Make_connection = None
    try:
        Make_connection = mysql.connector.connect(
            host=name_host,
            user=name_user,
            passwd=password_user,
            database=db_name
        )
        print("MySQL Database connection is successful")
    except Error as err:
        print(f"Error: '{err}'")

    return Make_connection

Define Query Execution Function

The final step of this stage is to create a function which will allow us to execute queries written in SQL.

Again, using cursor.execute() to execute  commands.

In [10]:
def execute_query(Make_connection, query):
    cursor = Make_connection.cursor()
    try:
        cursor.execute(query)
        Make_connection.commit()
        print("Query is successful")
    except Error as err:
        print(f"Error: '{err}'")

# Creating Tables

In [11]:
# Assign SQL command to a python variable using triple quotes to create a multi-line string
covid_patient_table = """
CREATE TABLE covid_patient (
  patient_id INT PRIMARY KEY,
  first_name VARCHAR(40) NOT NULL,
  last_name VARCHAR(40) NOT NULL,
  Sex VARCHAR(3) NOT NULL,
  Age CHAR(4),
  residential VARCHAR(50),
  phone_no VARCHAR(20)
  );
 """

Make_connection = create_db_connection("localhost", "root", pw, db) # Connect to the Database
execute_query(Make_connection, covid_patient_table) # Execute defined query

MySQL Database connection is successful
Query is successful

In [12]:
covid_new_patient_table = """
CREATE TABLE new_covid_patient (
  new_patient_id INT PRIMARY KEY,
  new_first_name VARCHAR(40) NOT NULL,
  new_last_name VARCHAR(40) NOT NULL,
  new_Sex VARCHAR(3) NOT NULL,
  new_Age INT,
  new_residential VARCHAR(50),
  new_phone_no VARCHAR(20),
  new_blood_group CHAR(4),
  patient INT
  );
 """
Make_connection = create_db_connection("localhost", "root", pw, db)
execute_query(Make_connection, covid_new_patient_table)

MySQL Database connection is successful
Query is successful

In [14]:
alter_new_patient = """
ALTER TABLE new_covid_patient
ADD FOREIGN KEY(patient)
REFERENCES covid_patient(patient_id)
ON DELETE SET NULL;
"""
Make_connection = create_db_connection("localhost", "root", pw, db)
execute_query(Make_connection, alter_new_patient)

MySQL Database connection is successful
Query is successful

In [15]:
pop_patient = """
INSERT INTO covid_patient (patient_id,first_name, last_name, sex, age, residential, phone_no) VALUES 
(1,  'James', 'Smith', 'M', '40', 'jaipur', '+911774553676'),
(2, 'Stefanie', 'Martin', 'M', '27', 'noida', '+911234567890'), 
(3, 'Steve', 'Wang', 'M', '32', 'delhi', '+917840921333'),
(4, 'Friederike',  'MÃ¼ller-Rossi', 'F', '30', 'ajmer', '+912345678901'),
(5, 'Isobel', 'Ivanova', 'F', '45',  'kota', '+911772635467'),
(6, 'Niamh', 'Murphy',  'M', '38',  'sikar', '+911231231232');
"""

Make_connection = create_db_connection("localhost", "root", pw, db)
execute_query(Make_connection, pop_patient)

MySQL Database connection is successful
Query is successful

In [17]:
pop_new_patient = """
INSERT INTO new_covid_patient VALUES
(10,  'kemes', 'Sdtth', 'F', 40, 'udaipur', '+911345673676', 'b+', 1),
(20, 'fanie',  'katinin',  'F', 27, 'dida', '+911239867890','A+', 3), 
(30, 'keteve', 'rngud',  'M', 32, 'medlhi', '+917842971333', 'o+', 2),
(40, 'Froks',  'Miler', 'F', 30,  'jaiper', '+912352868901', 'AB+', 2),
(50, 'lobel', 'peraova', 'M', 45,  'sirsa', '+911789475467', 'o+', 3),
(60, 'klamh', 'sudjdfy',  'F', 38,  'kotar', '+911230881232', 'B-', 1);
"""

Make_connection = create_db_connection("localhost", "root", pw, db)
execute_query(Make_connection, pop_new_patient)

MySQL Database connection is successful
Query is successful

Reading data

define data reading function

In [18]:
def read_query(Make_connection, query):
    cursor = Make_connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

Read data from database

In [19]:
p1 = """
SELECT *
FROM covid_patient;
"""

Make_connection = create_db_connection("localhost", "root", pw, db)
results = read_query(Make_connection, p1)

for result in results:
  print(result)

MySQL Database connection is successful
(1, 'James', 'Smith', 'M', '40', 'jaipur', '+911774553676')
(2, 'Stefanie', 'Martin', 'M', '27', 'noida', '+911234567890')
(3, 'Steve', 'Wang', 'M', '32', 'delhi', '+917840921333')
(4, 'Friederike', 'MÃ¼ller-Rossi', 'F', '30', 'ajmer', '+912345678901')
(5, 'Isobel', 'Ivanova', 'F', '45', 'kota', '+911772635467')
(6, 'Niamh', 'Murphy', 'M', '38', 'sikar', '+911231231232')

Formating output into a list of lists

In [20]:
#Initialise empty list
from_db = []

# Loop over the results and append them into our list

# Returns a list of tuples
for result in results:
  result = [result]
  from_db.append(result)
    
print(from_db)

[[(1, 'James', 'Smith', 'M', '40', 'jaipur', '+911774553676')], [(2, 'Stefanie', 'Martin', 'M', '27', 'noida', '+911234567890')], [(3, 'Steve', 'Wang', 'M', '32', 'delhi', '+917840921333')], [(4, 'Friederike', 'MÃ¼ller-Rossi', 'F', '30', 'ajmer', '+912345678901')], [(5, 'Isobel', 'Ivanova', 'F', '45', 'kota', '+911772635467')], [(6, 'Niamh', 'Murphy', 'M', '38', 'sikar', '+911231231232')]]

Formatting Output into a pandas DataFrame

In [23]:
columns = ["patient_id", "first_name", "lastname", 'sex','Age',"residential", "phone_no"]
df = pd.DataFrame(from_db, columns=columns)
df

   patient_id  first_name      lastname sex Age residential       phone_no
0           1       James         Smith   M  40      jaipur  +911774553676
1           2    Stefanie        Martin   M  27       noida  +911234567890
2           3       Steve          Wang   M  32       delhi  +917840921333
3           4  Friederike  MÃ¼ller-Rossi   F  30       ajmer  +912345678901
4           5      Isobel       Ivanova   F  45        kota  +911772635467
5           6       Niamh        Murphy   M  38       sikar  +911231231232